<header class="header">
  <div class="header__wrapper">
    <div class="header__left">
      <button class="btn-icon menu" (click)="toggleSidebar.emit()">
        <img src="assets/svg/menu.svg" width="30" height="30" alt="">
      </button>
    </div>

    <div class="header__main">
      <input class="input-dark-blue input-search" type="text" placeholder="Поиск вопроса">
    </div>

    <div class="header__right">
      <button class="btn-circle-blue create-btn">
        <img src="assets/svg/plus.svg" width="40" height="40">
      </button>
    </div>
  </div>
</header>
