.header {
  padding: 0.9375rem 1.47rem;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__main {
    .input-search {
      width: 37.5rem;
      height: 2.8125rem;
    }
  }

  &__right {
    .create-btn {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

@media (max-width: 640px) {
  .header {
    &__main {
      .input-search {
        width: 11.25rem;
        height: 2.1875rem;
      }
    }

    &__left {
      .menu {
        display: none;
      }
    }

    &__right {
      .create-btn {
        width: 2.2rem;
        height: 2.2rem;

        img {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}
